xml/bookstore.dtd

<!DOCTYPE bookstore [<!ELEMENT bookstore (book)*>
        <!ELEMENT book (title|author|year|price)*>
        <!ATTLIST bookcategory CDATA #REQUIRED>
        <!ELEMENT title (#PCDATA)>
        <!ATTLIST title lang CDATA #REQUIRED>
        <!ELEMENT author (#PCDATA)>
        <!ELEMENT year (#PCDATA)>
        <!ELEMENT price (#PCDATA)>]>